.team {
    text-decoration: underline;
    font-weight: bold;
}
.scores {
    text-align: right;
    letter-spacing: 3px;
    margin-left: 10px;
}
.scores-stats {
    list-style: none;
    letter-spacing: 1.2px;
}
.green-w {
    width: 30px;
    top: 10px;
    margin-right: 15px;
    position: relative;
}
.right-stat {
    float: right;
}
@media all and (max-width: 800px) {
    .scores-stats {
        font-size: 8px;
    }
    .right-stat {
        display: none;
    }
}
